* {
  --dark-theme-bg: hsl(230, 17%, 14%);
  --dark-theme-txt: hsl(0, 0%, 100%);
  --dark-theme-sec-txt: hsl(228, 34%, 66%);
  --dark-theme-btn: linear-gradient(180deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --dark-theme-card-bg: hsl(228, 28%, 20%);

  --light-theme-bg: hsl(0, 0%, 100%);
  --light-theme-txt: hsl(228, 12%, 44%);
  --light-theme-btn: hsl(230, 22%, 74%);

  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(195, 100%, 50%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(180deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
  margin: 0;
  padding: 0;
}

body {

  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 700;
  /* background: var(--dark-theme-bg); */
  /* color: var(--dark-theme-txt); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #### Dark Theme

- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme

- White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%) */
